/* Paleta de colores */
:root {
    /* Paleta de colores */
    --color-fondo: #f5f5f5;
    --color-fondo-resalto: #FFFFFF;
    --color-fondo-oscuro: #000000;
    --color-enfasis: #bb2121;
    --color-primario: #bb2121;
    --color-primario-oscuro: rgb(114, 5, 5);
    --color-secundario:#5B5858; 
    --color-info:#393333;
    --texto-claro: #FFFFFF;
    --texto-oscuro: #000000;
    --gris-tenue: rgba(0, 0, 0, 0.3);
    --gris-claro: rgba(0, 0, 0, 0.5);
    --gris-oscuro: rgba(0, 0, 0, 0.8);
    /* Medidas */
    --encabezado: 60px;
    --pie: 60px;
    --espaciado: 15px;
    /* Tiempos */
    --duracion-transicion: 300ms;
    --duracion-anim: 500ms;
}

/* Importar fuentes */
@font-face {
    font-family: "Roboto";
    src: url("../fuentes/Roboto-Thin.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fuentes/Roboto-Light.ttf") format('truetype');
    font-weight: 900;
    font-style: bold;
}

/* Elementos */
*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    font-family: 'Roboto';
    position: fixed;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    touch-action: none;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overscroll-behavior: contain;
    backface-visibility: hidden;
    margin: 0px;
    padding: 0px;
}

#app{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--color-fondo);
}

#contenedor-principal{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: var(--espaciado);
    padding-top: calc(var(--encabezado) + var(--espaciado));
    /* padding-bottom:calc(var(--pie) + var(--espaciado)); */
    box-sizing: border-box;
    -ms-scroll-chaining: none;
    -webkit-overflow-scrolling: touch;
}

/* Titulos y subtitulos */
h1{
    color: var(--color-primario);
}

h2{
    color: var(--color-primario-oscuro);
}

.sombra-tenue{
    box-shadow: 0px 1px 5px -2px var(--gris-tenue);
}

.sombra-clara{
    box-shadow: 0px 2px 10px 0px var(--gris-claro);
}

.sombra-oscura{
    box-shadow: 0px 3px 10px 1px var(--gris-oscuro);
}

/* Botones */
button, .boton{
    padding: 10px;
    border: 0px;
    font-size: 12pt;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 5px -2px var(--gris-claro);
    transition: box-shadow var(--duracion-transicion);
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
}

button:hover{
    box-shadow: 0px 3px 5px 0px var(--gris-claro);
}

.boton-info{
    background-color: var(--color-fondo-resalto);
    color: var(--color-primario-oscuro);
}
.boton-cancel{
    background-color: var(--color-secundario);
    color: var(--texto-claro);
}
.boton-primario{
    background-color: var(--color-primario);
    color: var(--texto-claro);
}

/* Inputs de caja (Texto) */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"]{
    padding: 5px;
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    transition: border-color var(--duracion-transicion) ease-out;
    font-size: 15pt;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{
    outline: none;
    border: 1px solid var(--color-primario);
    box-shadow: 0px 0px 3px 0px var(--color-primario);
}

a{
    color: var(--color-primario);
}

header#barra-superior, footer{
    width: 100%;
    background-color: var(--color-fondo-oscuro);
    position: fixed;
    z-index: 99;
}

header#barra-superior{
    top: 0px;
    left: 0px;
    height: var(--encabezado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#barra-superior>.boton-barra{
    font-size: 18pt;
    width: var(--encabezado);
    line-height: var(--encabezado);
    text-align: center;
    color: var(--color-enfasis);
    cursor: pointer;
    flex-shrink: 0;
}

#barra-superior>.titulo-app{
    color: var(--texto-claro);
    flex-grow: 1;
    text-align: center;
    font-size: 18pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer{
    bottom: 0px;
    left: 0px;
    height: var(--pie);
}

nav#menu-lateral{
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0px;
    left: -320px;
    background-color: var(--color-primario-oscuro);
    color: var(--texto-claro);
    transform: translateX(0px);
    transition: transform var(--duracion-transicion), box-shadow var(--duracion-transicion);
    transition-timing-function: ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

nav#menu-lateral.menu-abierto{
    transform: translateX(320px) !important;
    box-shadow: 5px 0px 10px 0px var(--gris-oscuro);
}

nav#menu-lateral>.encabezado-menu,
nav#menu-lateral>.pie-menu {
    background-color: var(--color-primario);
    padding: var(--espaciado);
}

nav#menu-lateral>.encabezado-menu {
    font-size: 25pt;
    border-radius: 0px 0px 25px 0px;
}

nav#menu-lateral>.contenido-menu {
    flex-grow: 1;
}

nav#menu-lateral>.contenido-menu > ul {
    list-style: none;
    padding: 0px;
}

nav#menu-lateral>.contenido-menu>ul>li {
    margin-top: var(--espaciado);
    display: flex;
    font-size: 16pt;
}

nav#menu-lateral>.contenido-menu>ul>li>a {
    /* background-color: #FFFFFF; */
    color: var(--texto-claro);
    width: 100%;
    padding: var(--espaciado);
    text-decoration: none;
}

nav#menu-lateral>.pie-menu {
    font-size: 18pt;
    border-radius: 0px 25px 0px 0px;
}

nav#menu-lateral>.pie-menu > a {
    color: var(--texto-claro);
    text-decoration: none;
}

form, .form{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px; 
    padding: var(--espaciado);
    animation: aparecer var(--duracion-anim) ease-in-out;
    background-color: var(--color-fondo-resalto);
}

.grupo-inputs{
    margin-bottom: var(--espaciado);
    display: flex;
    flex-direction: column;
}

.grupo-enlinea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grupo-enlinea button,
.grupo-enlinea .boton {
    margin: 0px;
}

label{
    /* margin-top: 20px; */
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: min-content;
}

.animado{
    animation: aparecer var(--duracion-anim) ease-in-out forwards;
}


/* Animaciones */
@keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}