/* Paleta de colores */
:root {
    /* Paleta de colores */
    --color-fondo: #FFFFFF; 
    --color-enfasis: #bb2121;
    --color-primario: #bb2121;
    --color-primario-oscuro: rgb(114, 5, 5);
    --color-secundario:#5B5858; 
    --color-info:#393333;
    --color-fondo-oscuro: #000000;
    --texto-claro: #FFFFFF;
    --texto-oscuro: #000000;
    --gris-tenue: rgba(0, 0, 0, 0.3);
    --gris-claro: rgba(0, 0, 0, 0.5);
    --gris-oscuro: rgba(0, 0, 0, 0.8);
    /* Medidas */
    --encabezado: 60px;
    --pie: 60px;
    --padding: 15px;
}

/* Importar fuentes */
@font-face {
    font-family: "Roboto";
    src: url("../fuentes/Roboto-Thin.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fuentes/Roboto-Light.ttf") format('truetype');
    font-weight: 900;
    font-style: bold;
}

/* Elementos */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';   
}

/* Titulos y subtitulos */
h1{
    color: var(--color-primario);
}

h2{
    color: var(--color-primario-oscuro);
}

.sombra-tenue{
    box-shadow: 0px 1px 5px -2px var(--gris-tenue);
}

.sombra-clara{
    box-shadow: 0px 2px 10px 0px var(--gris-claro);
}

.sombra-oscura{
    box-shadow: 0px 3px 10px 1px var(--gris-oscuro);
}

/* Botones */
button, .boton{
    padding: 10px;
    border: 0px;
    font-size: 12pt;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 5px -2px var(--gris-claro);
    transition: box-shadow 300ms;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
}

button:hover{
    box-shadow: 0px 3px 5px 0px var(--gris-claro);
}

.boton-info{
    background-color: var(--color-fondo);
    color: var(--color-primario-oscuro);
}
.boton-cancel{
    background-color: var(--color-secundario);
    color: var(--color-fondo);
}
.boton-primario{
    background-color: var(--color-primario);
    color: var(--color-fondo);
}

/* Inputs de caja (Texto) */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"]{
    padding: 5px;
    border: 1px solid var(--gris-claro);
    border-radius: 5px;
    transition: border-color .5s ease-out;
    font-size: 15pt;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus{
    outline: none;
    border: 1px solid var(--color-primario);
    box-shadow: 0px 0px 3px 0px var(--color-primario);
}

a{
    color: var(--color-primario);
}

.contenedor-principal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 15px;
    padding-top: var(--encabezado);
    padding-bottom: var(--pie);
}

header#barra-superior, footer{
    width: 100%;
    background-color: var(--color-fondo-oscuro);
    position: fixed;
    z-index: 99;
}

header#barra-superior{
    top: 0px;
    left: 0px;
    height: var(--encabezado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#barra-superior>.boton-barra{
    background-color: var(--color-enfasis);
    font-size: 18pt;
    width: var(--encabezado);
    line-height: var(--encabezado);
    text-align: center;
    color: var(--texto-claro);
    cursor: pointer;
}

#barra-superior>.titulo-app{
    color: var(--texto-claro);
    flex-grow: 1;
    text-align: center;
    font-size: 18pt;
}

footer{
    bottom: 0px;
    left: 0px;
    height: var(--pie);
}

nav#menu-lateral{
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--color-enfasis);
    color: var(--texto-claro);
    transition: transform 300ms;
    transition-timing-function: ease-in-out;
    transform: translateX(-100%);
    z-index: 100;
}

nav#menu-lateral.menu-abierto{
    transform: translateX(0px) !important;
    box-shadow: 5px 0px 10px 0px var(--gris-oscuro);
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px; 
    padding: 15px;
}

label{
    margin-top: 20px;
}