.flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    width: 100%;
    color: var(--texto-oscuro);
    /* height: 300px; */
    border-radius: 10px;
}

.menu i{
    font-size: 80pt !important;
}