.seccion-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-usuario{
    font-size: 100pt;
    color: var(--color-primario);
}

.info-perfil{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-perfil>.grupo{
    margin-top: var(--espaciado);
    margin-left: var(--espaciado);
}

.info-perfil>.grupo:last-child{
    margin-bottom: var(--espaciado);
}

.info-perfil>.grupo>h2{
    color: var(--color-primario);
}

.info-perfil>.grupo>*{
    margin: 0px;
}

.puntuacion{
    color: var(--color-primario);
    font-size: x-large;
}

.botones{
    text-align: right;
}