.campos{
    display: flex;
    flex-direction: column;    
}

.botones{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}